# Core LangGraph & LangChain Orchestration
langgraph
langchain
langchain-core
langchain-community

# LLM Providers (Groq & OpenAI)
langchain-groq

# Data Validation & Environment
pydantic
python-dotenv

# Document Processing & Vector Store (Required for RAG modules)
langchain-text-splitter
faiss-cpu
pypdf
sentence-transformers

# For embedding model for RAG Pipeline
langchain-huggingface
torchvision

# Research & Search Tools
tavily-python

# For UI purposes
streamlit 

