# MISTRAL_API_KEY=your_mistal_api_key
# Even tough i never used mistral due to error on my account but you can use but i mainly use it trough groq which great for free users

GROQ_API_KEY=your_groq_api_key
# Get this api from the https://console.groq.com/keys first signup/login then create your key 
# create a new file in the root directory .env and paste and instead of your_groq_api_key paste that api key

